<h1>Каталог</h1>
{% for product in catalog %}
    {#* {{ product }}#}
    <div class="card mb-5 shadow-sm rounded bg-white">
        <div class="card-header">
            Категория: {{ product.category_name }}
        </div>
        <div class="card-body">
            <h5 class="card-title">
                <a href="/product/item/?id={{ product.id }}">{{ product.name }}</a>
            </h5>
            <p class="card-text"><b>Описание:</b> {{ product.description }}</p>
            <p class="card-text"><b>Количество:</b> {{ product.quantity }} шт.</p>
            <p class="card-text"><b>Цена:</b> {{ product.price }} руб.</p>
        </div>
        {% if isAdmin %}
            <div class="card-footer d-flex justify-content-between">
                <a href="#" class="card-link">edit</a>
                <a data-id="{{ product.id }}" href="#" class="deleteProduct card-link
                text-danger">delete</a>
            </div>
        {% endif %}
    </div>
{% endfor %}
    {% if counter.numProduct > 0 %}
        <div class="d-flex justify-content-center mb-5">
            <a id="load_more" data-page="{{ counter.pagesLeft }}" class="btn btn-outline-primary"
               href="#">Загрузить ещё {{ item }}</a>
        </div>
    {% endif %}